body {
    color:#40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1em;
}
p {
    line-height: 2;
}

h1 {
    margin: 30px auto 0 auto;
   /* width: 10%;
    margin: 0 auto 0 auto; */
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    color: #66BFBF;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    color: #66BFBF;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
hr {
    width: 10%;
    border-style: dotted none none none;
    height: 0;
    border-color:#40514E;
    border-width: 10px;
    margin: 100px auto;
}
a:hover {
    color: #EAF6F6;
}
.intro{
    width: 30%;
    margin: auto;
}
.circular{
    border-radius: 100%;
}


.top-block {
    background-color:azure;
    position: relative;
    padding-top: 100px;
}

.middle-block {
    padding-top: 50px;

}
.bottom-block {
    background-color: #66BFBF;
    padding: 70px;

}

.top-cloud {
    position: absolute;
    right: 300px;
    top:50px;
}
.bottom-cloud {
    
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.computer{
    margin-right: 30px;
    width: 25%;
    border-radius: 100%;
    float: left;
}
.gif{
    width: 25%;
    border-radius:none;
    float: right;
    margin-left: 30px;
}

.footer-link {
    color: #11999E;
    font-size: 150%;
    margin:0 30px 0 30px;
    text-decoration: none;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}
/*.skill-web {
    clear: left;
}*/
.contact-msg {
    width: 30%;
    margin: 30px auto 50px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .copyright {
    color: #EAF6F6;
    font-size: 1rem;
    padding: 20px 0px;
  }